/*Columns*/
/*For Flexbox*/
/*For Typography*/
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro';
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro';
@media only screen and (min-width: 960px) {
  header {
    width: 960px;
    margin: 0px 5px 0px 5px;
    height: 200px;
    background-color: #f2f2f2;
    position: relative; }
  .col_1_12 {
    width: 65px;
    margin: 0px 5px 0px 5px;
    height: 180px;
    background-color: grey;
    position: relative; }
  .col_2_12 {
    width: 140px;
    margin: 0px 5px 0px 5px;
    height: 100px;
    background-color: grey;
    position: relative; }
  .col_3_12 {
    width: 215px;
    margin: 0px 30px 0px 35px;
    height: 50px;
    background-color: none;
    position: relative; }
  .col_4_12 {
    width: 290px;
    margin: 0px 5px 0px 5px;
    height: 100px;
    background-color: grey;
    position: relative; }
  .col_5_12 {
    width: 365px;
    margin: 0px 5px 0px 5px;
    height: 100px;
    background-color: grey;
    position: relative; }
  .col_6_12 {
    width: 440px;
    margin: 0px 5px 0px 5px;
    height: 100px;
    background-color: grey;
    position: relative; }
  .col_7_12 {
    width: 515px;
    margin: 0px 5px 0px 5px;
    height: 100px;
    background-color: grey;
    position: relative; }
  .col_8_12 {
    width: 590px;
    margin: 0px 5px 0px 5px;
    height: 50px;
    background-color: grey;
    position: relative; }
  .col_9_12 {
    width: 665px;
    margin: 0px 5px 0px 5px;
    height: 100px;
    background-color: grey;
    position: relative; }
  .col_10_12 {
    width: 740px;
    margin: 0px 5px 0px 5px;
    height: 100px;
    background-color: grey;
    position: relative; }
  .col_11_12 {
    width: 815px;
    margin: 0px 5px 0px 5px;
    height: 100px;
    background-color: grey;
    position: relative; }
  .col_12_12 {
    width: 890px;
    margin: 0px 30px 80px 30px;
    height: auto;
    background-color: grey;
    position: relative; }
  .full {
    width: 100%;
    margin: 10px 0px 10px 0px;
    height: auto;
    background-color: #9ccd8c;
    position: none;
    z-index: -1; }
  .clear {
    clear: both; }
  body {
    background-color: #f2f2f2;
    width: auto;
    margin: 0px 0px 0px 0px;
    overflow-x: hidden; }
  .wrap {
    margin-left: auto;
    margin-right: auto;
    width: 960px; }
  a {
    color: black;
    text-decoration: none; }
  a:hover {
    color: #fb1613; }
  /*Typography*/
  header {
    display: block;
    background-color: #f2f2f2; }
  h1 {
    font-family: "Source Sans Pro";
    font-size: 34px;
    line-height: 52px;
    color: black;
    font-weight: normal; }
  h2 {
    font-family: "Source Sans Pro";
    font-size: 26px;
    line-height: 44px;
    color: black;
    font-weight: normal; }
  h3 {
    font-family: "Source Sans Pro";
    font-size: 22px;
    line-height: 36px;
    color: black;
    font-weight: normal; }
  h4 {
    font-family: "Source Sans Pro";
    font-size: 18px;
    line-height: 28px;
    color: black;
    font-weight: bold; }
  h5 {
    font-family: "Source Sans Pro";
    font-size: 14px;
    line-height: 20px;
    color: black;
    font-weight: normal; }
  h6 {
    font-family: "Source Sans Pro";
    font-size: 12px;
    line-height: 14px;
    color: black;
    font-weight: normal; }
  /*Header*/
  .top_bar h6 {
    float: right;
    padding: 0px 35px 10px 10px; }
  .container {
    display: flex;
    /* or inline-flex */
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 890px;
    margin: 0px 35px 0px 35px; }
  .logo {
    width: 515px;
    height: 70px;
    display: flex;
    align-items: center; }
  /*Register*/
  .register {
    background-color: #ffffff;
    width: 365px;
    height: 70px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    text-decoration: none; }
  .register ul li {
    display: inline;
    text-decoration: underline; }
  .register ul li a {
    text-decoration: none;
    color: black; }
  .register ul li a:hover {
    color: red; }
  .item1 {
    flex-grow: 1;
    align-self: center; }
  .item2 {
    flex-grow: 3;
    align-self: center;
    word-spacing: 20px;
    border-left: 1px solid #cbd7c9; }
  #register_button a {
    color: white;
    text-decoration: underline; }
  .btn {
    background: #f15352;
    background-image: -webkit-linear-gradient(top, #ffa296, #ff1100);
    background-image: -moz-linear-gradient(top, #ffa296, #ff1100);
    background-image: -ms-linear-gradient(top, #ffa296, #ff1100);
    background-image: -o-linear-gradient(top, #ffa296, #ff1100);
    background-image: linear-gradient(to bottom, #ffa296, #ff1100);
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    font-family: Source Sans Pro;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 30px 10px 30px;
    text-decoration: none; }
  .btn:hover {
    background: #d60b04;
    background-image: -webkit-linear-gradient(top, #ff1100, #ff1100);
    background-image: -moz-linear-gradient(top, #ff1100, #ff1100);
    background-image: -ms-linear-gradient(top, #ff1100, #ff1100);
    background-image: -o-linear-gradient(top, #ff1100, #ff1100);
    background-image: linear-gradient(to bottom, #ff1100, #ff1100);
    text-decoration: none; }
  /*Menu*/
  nav {
    background-color: #fefefe;
    border-left: 1px solid #cbd7c9;
    border-right: 1px solid #cbd7c9;
    border-bottom: 1px solid #cbd7c9;
    border-top: 1px solid #cbd7c9;
    height: 70px;
    width: 890px;
    margin: 35px 35px 0px 35px;
    float: left; }
  #menu_icon {
    opacity: 0;
    position: absolute; }
  nav ul {
    margin: 15px 0px 0px -25px; }
  nav ul li {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 22px;
    display: inline;
    margin: 0px 5px 0px 5px; }
  nav li:before {
    color: #cbc9bc;
    content: "|";
    padding-right: 15px; }
  nav li:first-child:before {
    content: none; }
  nav a {
    color: black;
    text-decoration: none; }
  nav a:hover {
    color: red; }
  /*Search*/
  .search {
    position: relative;
    margin-right: 20px;
    margin-top: -25px;
    width: 210px;
    float: right; }
  .search input[type="text"] {
    color: #D6D6D6;
    border: 1px solid #D6D6D6;
    border-radius: 1em;
    outline: none;
    position: relative;
    text-indent: 22px;
    font-size: 0.875em;
    padding: 0.2em;
    width: 100%;
    background-image: url("assets/images/search.png");
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s; }
  .search input[type="submit"] {
    position: absolute;
    top: 2px;
    background-image: url("assets/images/search.png");
    border: none;
    outline: none;
    -webkit-appearance: none;
    cursor: pointer;
    margin-left: 10px;
    width: 20px;
    height: 20px; }
  /*Slider*/
  #slider {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
    border-radius: 4px;
    background-color: #9ccd8c;
    width: 100%;
    z-index: 0; }
  #slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none; }
  #slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 960px;
    height: 500px;
    background-color: #9ccd8c;
    text-align: center;
    line-height: 300px; }
  .slider_info {
    float: left;
    text-align: left;
    margin-left: 100px;
    font-size: 70px;
    font-weight: bold;
    width: 200px;
    line-height: 70px;
    font-family: Gotham Book;
    margin-top: 180px;
    padding-left: 20px; }
  .slider_info h1 {
    color: white;
    font-family: Gotham Book;
    font-size: 50px;
    margin: 0px; }
  a.control_prev, a.control_next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    opacity: 0.8;
    cursor: pointer; }
  a.control_prev:hover, a.control_next:hover {
    opacity: 1; }
  a.control_prev {
    border-radius: 0 2px 2px 0; }
  a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px; }
  .btn_price {
    background: #ffa296;
    background-image: -webkit-linear-gradient(top, #ffa296, #ff1100);
    background-image: -moz-linear-gradient(top, #ffa296, #ff1100);
    background-image: -ms-linear-gradient(top, #ffa296, #ff1100);
    background-image: -o-linear-gradient(top, #ffa296, #ff1100);
    background-image: linear-gradient(to bottom, #ffa296, #ff1100);
    -webkit-border-radius: 29;
    -moz-border-radius: 29;
    border-radius: 29px;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    border: solid #ff6363 2px;
    text-decoration: none; }
  .btn_price:hover {
    background: #ff1e00;
    background-image: -webkit-linear-gradient(top, #ff1e00, #ff1100);
    background-image: -moz-linear-gradient(top, #ff1e00, #ff1100);
    background-image: -ms-linear-gradient(top, #ff1e00, #ff1100);
    background-image: -o-linear-gradient(top, #ff1e00, #ff1100);
    background-image: linear-gradient(to bottom, #ff1e00, #ff1100);
    text-decoration: none; }
  /*Categories*/
  .categories {
    display: flex;
    /* or inline-flex */
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 30px 30px 30px 30px;
    width: 960px; }
  .cat_1 {
    width: 290px;
    height: 400px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #cbd7c9;
    flex-direction: column; }
  .cat_1:hover {
    border: 1px solid #fb1613; }
  .cat_1 img {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%; }
  .icon {
    position: absolute;
    margin-top: 150px; }
  .cat_1 h4 {
    color: #fb1613;
    line-height: 0px; }
  .center {
    text-align: center; }
  .center hr {
    width: 15px; }
  /*Products*/
  main {
    float: left;
    overflow: hidden; }
  .color {
    color: #f22826; }
  .left {
    float: left; }
  .right {
    float: right; }
  .row {
    width: 960px;
    margin: 0px 30px 0px 30px;
    height: auto;
    background-color: grey;
    position: relative; }
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fefefe;
    width: 215px;
    height: 300px;
    margin: 5px;
    border: 1px solid #cbd7c9;
    float: left; }
  section:hover {
    border: 1px solid #fb1613; }
  section img {
    margin: 10px auto 10px auto; }
  hr {
    padding: 0px;
    margin: 0px;
    width: 150px;
    opacity: 0.5; }
  section p {
    width: 150px;
    font-size: 18px;
    word-break: break-all; }
  /*Footer*/
  footer {
    background-color: #f2262c;
    position: relative;
    bottom: 0;
    float: left;
    height: 150px;
    width: 100%;
    margin-top: 60px; }
  .footer {
    display: flex;
    /* or inline-flex */
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: baseline;
    align-content: center;
    width: 890px;
    margin: 60px 35px 0px 35px;
    color: white;
    font-family: Arial;
    font-size: 12px; }
  .footer a {
    color: white; }
  .footer a:hover {
    color: black; }
  .footer ul li {
    display: inline; }
  .logo_footer {
    flex-grow: 1; }
  .menu_footer {
    flex-grow: 3; }
  .menu_footer li:before {
    color: white;
    content: "|";
    padding-right: 5px; }
  .menu_footer li:first-child:before {
    content: none; }
  .social_footer {
    flex-grow: 1; } }

@media only screen and (max-width: 959px) {
  .wrap {
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
  body {
    background-color: #f2f2f2;
    width: auto;
    margin: 0px 0px 0px 0px;
    overflow-x: hidden; }
  a {
    color: black;
    text-decoration: none; }
  a:hover {
    color: #fb1613; }
  /*Typography*/
  header {
    display: block;
    background-color: #f2f2f2; }
  h1 {
    font-family: "Source Sans Pro";
    font-size: 24px;
    line-height: 52px;
    color: black;
    font-weight: normal; }
  h2 {
    font-family: "Source Sans Pro";
    font-size: 20px;
    line-height: 44px;
    color: black;
    font-weight: normal; }
  h3 {
    font-family: "Source Sans Pro";
    font-size: 18px;
    line-height: 36px;
    color: black;
    font-weight: normal; }
  h4 {
    font-family: "Source Sans Pro";
    font-size: 16px;
    line-height: 28px;
    color: black;
    font-weight: bold; }
  h5 {
    font-family: "Source Sans Pro";
    font-size: 14px;
    line-height: 20px;
    color: black;
    font-weight: normal; }
  h6 {
    font-family: "Source Sans Pro";
    font-size: 12px;
    line-height: 14px;
    color: black;
    font-weight: normal; }
  /*Header*/
  .top_bar h6 {
    float: right;
    padding: 5px; }
  .container {
    display: flex;
    /* or inline-flex */
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    margin: 0px 5px 0px 5px; }
  .logo {
    width: 60%;
    height: 40%;
    display: flex;
    align-items: center; }
  .logo img {
    width: 60%;
    height: 40%; }
  /*Register*/
  .register {
    background-color: #ffffff;
    width: 300px;
    height: 20px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    -webkit-border-radius: 3;
    -moz-border-radius: 3;
    border-radius: 3px;
    text-decoration: none; }
  .register ul li {
    display: inline;
    text-decoration: underline; }
  .register ul li a {
    text-decoration: none;
    color: black; }
  .register ul li a:hover {
    color: red; }
  .item1 {
    flex-grow: 1;
    align-self: center; }
  .item2 {
    flex-grow: 6;
    align-self: center;
    word-spacing: 5px; }
  #register_button a {
    color: white;
    text-decoration: underline; }
  .btn {
    background: #f15352;
    background-image: -webkit-linear-gradient(top, #ffa296, #ff1100);
    background-image: -moz-linear-gradient(top, #ffa296, #ff1100);
    background-image: -ms-linear-gradient(top, #ffa296, #ff1100);
    background-image: -o-linear-gradient(top, #ffa296, #ff1100);
    background-image: linear-gradient(to bottom, #ffa296, #ff1100);
    -webkit-border-radius: 3;
    -moz-border-radius: 3;
    border-radius: 3px;
    font-family: Source Sans Pro;
    color: #ffffff;
    font-size: 12px;
    padding: 5px 10px 5px 10px;
    text-decoration: none; }
  .btn:hover {
    background: #d60b04;
    background-image: -webkit-linear-gradient(top, #ff1100, #ff1100);
    background-image: -moz-linear-gradient(top, #ff1100, #ff1100);
    background-image: -ms-linear-gradient(top, #ff1100, #ff1100);
    background-image: -o-linear-gradient(top, #ff1100, #ff1100);
    background-image: linear-gradient(to bottom, #ff1100, #ff1100);
    text-decoration: none; }
  /*Menu*/
  nav {
    background-color: #fefefe;
    border-left: 1px solid #cbd7c9;
    border-right: 1px solid #cbd7c9;
    border-bottom: 1px solid #cbd7c9;
    border-top: 1px solid #cbd7c9;
    height: 30px;
    width: 95%;
    margin: 10px 10px 0px 10px;
    float: left; }
  #menu_icon {
    display: inline-block; }
  nav ul, nav:active ul {
    display: none;
    position: absolute;
    padding: 0px;
    background: #fff;
    border: 1px solid red;
    list-style: none;
    width: 95%;
    margin-top: -5px;
    z-index: 1; }
  nav li {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 0; }
  nav li:hover {
    background-color: #ff1e00;
    color: white; }
  nav:hover ul {
    display: block; }
  /*Search*/
  .search {
    position: relative;
    margin-right: 10px;
    margin-top: 3px;
    width: 90%;
    float: right; }
  .search input[type="text"] {
    color: #D6D6D6;
    border: 1px solid #D6D6D6;
    border-radius: 1em;
    outline: none;
    position: relative;
    text-indent: 22px;
    font-size: 0.875em;
    padding: 0.2em;
    width: 100%;
    background-image: url("assets/images/search.png");
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s; }
  .search input[type="submit"] {
    position: absolute;
    top: 2px;
    background-image: url("assets/images/search.png");
    border: none;
    outline: none;
    -webkit-appearance: none;
    cursor: pointer;
    margin-left: 10px;
    width: 20px;
    height: 20px; }
  /*Slider*/
  .full {
    width: 100%;
    margin: 10px 0px 10px 0px;
    height: auto;
    background-color: #9ccd8c;
    position: none;
    z-index: -1; }
  #slider {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
    border-radius: 4px;
    background-color: #9ccd8c;
    width: 90%;
    z-index: 0; }
  #slider ul li img {
    width: 40%;
    float: right; }
  #slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none; }
  #slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 400px;
    background-color: #9ccd8c;
    text-align: center;
    line-height: 30px; }
  .slider_info {
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    margin-left: 220px;
    bottom: 10px;
    position: absolute;
    font-family: Gotham Book; }
  .slider_info h1 {
    color: white;
    font-family: Gotham Book;
    font-size: 20px;
    margin: 0px;
    line-height: 15px; }
  a.control_prev, a.control_next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    opacity: 0.8;
    cursor: pointer; }
  a.control_prev:hover, a.control_next:hover {
    opacity: 1; }
  a.control_prev {
    border-radius: 0 2px 2px 0; }
  a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px; }
  .btn_price {
    background: #ffa296;
    background-image: -webkit-linear-gradient(top, #ffa296, #ff1100);
    background-image: -moz-linear-gradient(top, #ffa296, #ff1100);
    background-image: -ms-linear-gradient(top, #ffa296, #ff1100);
    background-image: -o-linear-gradient(top, #ffa296, #ff1100);
    background-image: linear-gradient(to bottom, #ffa296, #ff1100);
    -webkit-border-radius: 29;
    -moz-border-radius: 29;
    border-radius: 29px;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    border: solid #ff6363 2px;
    text-decoration: none; }
  .btn_price:hover {
    background: #ff1e00;
    background-image: -webkit-linear-gradient(top, #ff1e00, #ff1100);
    background-image: -moz-linear-gradient(top, #ff1e00, #ff1100);
    background-image: -ms-linear-gradient(top, #ff1e00, #ff1100);
    background-image: -o-linear-gradient(top, #ff1e00, #ff1100);
    background-image: linear-gradient(to bottom, #ff1e00, #ff1100);
    text-decoration: none; }
  /*Categories*/
  .categories {
    display: flex;
    /* or inline-flex */
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 5px 5px 5px 5px;
    width: 100%; }
  .cat_1 {
    width: 33.333%;
    height: 300px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #cbd7c9;
    flex-direction: column; }
  .cat_1:hover {
    border: 1px solid #fb1613; }
  .cat_1 img {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 100px; }
  .icon {
    position: absolute;
    margin-top: 80px;
    opacity: 0.1; }
  .cat_1 h4 {
    color: #fb1613;
    line-height: 0px; }
  .center {
    text-align: center; }
  .center hr {
    width: 15px;
    opacity: 0; } }
