/*made by Adriana*/

/*Columns*/
$width:960px;
$margin: 0px 5px 0px 5px;
$height:50px;
$background-color:grey;
$position:relative;

@mixin col($width,$margin,$height,$background-color,$position) {
	width:$width;
	margin:$margin;
	height: $height;
	background-color: $background-color;
	position:$position;
}

/*For Flexbox*/
$display:flex;
$align-items:center;


@mixin categories($width,$height,$background-color,$display,$align-items){
	width:$width;
	height: $height;
	background-color: $background-color;
	display:$display;
	align-items: $align-items;
}


/*For Typography*/
$font-family:Arial;
$font-size:14px;
$line-height:40px;
$color:black;
$font-weight:normal;


@mixin h1($font-family,$font-size,$line-height,$color,$font-weight){
font-family:$font-family;
font-size:$font-size;
line-height:$line-height;
color:$color;
font-weight: $font-weight;
}

@media only screen and (min-width: 960px) {

header {
       @include col(960px,$margin, 200px,#f2f2f2, relative)
}

.col_1_12 {
	@include col(65px,$margin, 180px, $background-color,relative)
}

.col_2_12 {
	@include col(140px,$margin, 100px, $background-color, relative)
}

.col_3_12 {
	@include col(215px, 0px 30px 0px 35px, 50px, none, relative)
}

.col_4_12 {
	@include col(290px, $margin, 500px, none, relative)
}

.col_5_12 {
	@include col(365px, $margin, 100px, $background-color, relative)
}

.col_6_12 {
	@include col(440px, $margin, 100px, $background-color, relative)
}

.col_7_12 {
	@include col(515px, $margin, 100px, $background-color, relative)
}

.col_8_12 {
	@include col(590px, $margin, 50px, $background-color, relative)
}

.col_9_12 {
	@include col(665px, $margin, 100px, $background-color, relative)
}

.col_10_12 {
	@include col(740px, $margin, 100px, $background-color, relative)
}

.col_11_12 {
	@include col(815px, $margin, 100px, $background-color, relative)
}

.col_12_12 {
	@include col(890px, 0px 30px 80px 30px, auto, $background-color, relative)
}

.full {
	@include col(100%, 10px 0px 10px 0px, auto, #9ccd8c, none);
	z-index:-1;
}



/*Typography*/
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro';

$font-family: 'Source Sans Pro', sans-serif;
header {
	display:block;
	background-color:#f2f2f2;
}
h1 {
       @include h1('Source Sans Pro', 34px, 52px, black, normal)
}

h2 {
       @include h1('Source Sans Pro', 26px, 44px, black, normal)
}

h3 {
       @include h1('Source Sans Pro', 22px, 36px, black, normal)
}

h4 {
       @include h1('Source Sans Pro', 18px, 28px, black, bold)
}

h5 {
       @include h1('Source Sans Pro', 14px, 20px, black, normal)
}

h6 {
       @include h1('Source Sans Pro', 12px, 14px, black, normal)
}



.cat_1 {
       @include categories(290px,400px,#ffffff, flex,center);
	   margin-left:5px;
	   margin-right:5px;
	   border:1px solid #cbd7c9;
	   flex-direction: column;
}

.row {
	@include col(960px, 0px 30px 0px 30px, auto, $background-color, relative)
}

.filter{
	 @include col(890px,110px 40px 60px 40px, auto,#fefefe, relative);
	   border-left: 1px solid #cbd7c9;
  border-right: 1px solid #cbd7c9;
  border-bottom: 1px solid #cbd7c9;
  border-top: 1px solid #cbd7c9;
}

.cat-1 {
       @include categories(100px,300px,#ffffff, flex,center);
	   margin-left:10px;
	   margin-right:10px;
	   flex-direction: column;
	   
}




.detail_section{
	@include col(890px, 0px 40px 80px 40px, auto,none, relative)
}





.tabs{
	@include col(890px,110px 40px 60px 40px, auto,#fefefe, relative);
	
}

}

@media only screen and (max-width: 959px) {
  
/*Typography*/
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro';

$font-family: 'Source Sans Pro', sans-serif;
header {
	display:block;
	background-color:#f2f2f2;
}
h1 {
       @include h1('Source Sans Pro', 24px, 52px, black, normal)
}

h2 {
       @include h1('Source Sans Pro', 20px, 44px, black, normal)
}

h3 {
       @include h1('Source Sans Pro', 18px, 36px, black, normal)
}

h4 {
       @include h1('Source Sans Pro', 16px, 28px, black, bold)
}

h5 {
       @include h1('Source Sans Pro', 14px, 20px, black, normal)
}

h6 {
       @include h1('Source Sans Pro', 12px, 14px, black, normal)
}



.full {
	@include col(100%, 10px 0px 10px 0px, auto, #9ccd8c, none);
	z-index:-1;
}



.cat_1 {
       @include categories(33.333%,300px,#ffffff, flex,center);
	   margin-left:5px;
	   margin-right:5px;
	   border:1px solid #cbd7c9;
	   flex-direction: column;
}

.row {
	@include col(100%, 80px 10px 80px 5px, auto, $background-color, relative)
}



}






