<div class="wrap">
    

<div class="categories">
  
<div class="cat_1" >
  <h1>WOMAN</h1>
  <a href=""><img src="public/assets/images/women.jpg" /></a>
  <img class="icon" src="public/assets/images/women_icon.png"/>
  <div class="clear">
</div>
 <span class="center">  <h4>TOTAL</h4>
  <h6>357 PRODUCTS</h6>
   <hr><hr><hr><hr><hr></span>
  
</div>

<div class="cat_1">
  
   <h1>MAN</h1>
<a href=""><img src="public/assets/images/man.jpg" /></a>
  <img class="icon" src="public/assets/images/man_icon.png"/>
 <div class="clear">
</div>
 <span class="center"> <h4>TOTAL</h4>
  <h6>357 PRODUCTS</h6>
   <hr><hr><hr><hr><hr></span>
  
  
</div>
<div class="cat_1">
   <h1>KIDS</h1>
 <a href=""> <img src="public/assets/images/kid.jpg" /></a>
  <img class="icon" src="public/assets/images/kid_icon.png"/>
  <div class="clear">
</div>
 <span class="center">  <h4>TOTAL</h4>
  <h6>357 PRODUCTS</h6>
  <hr><hr><hr><hr><hr></span>
</div>

</div>

   