
<footer>
  <div class="wrap">
    <div class="footer">
      <div class="logo_footer">
      <img src="/public/assets/images/logo2.png"/>
      </div>
      <div class="menu_footer">
        <ul>
        
        <li><a href="">About Us</a></li>
        <li><a href="">Faq</a></li>
        <li><a href="">Terms and Conditions</a></li>
        <li><a href="">Secure Payment</a></li>
        <li><a href="">Shipping</a></li>
        <li><a href="">Contact</a></li>
        </ul>
      </div>
      <div class="social_footer">
        <ul>
        <li><a href=""><img src="/public/assets/images/pinterest.png"/></a></li>
         <li><a href=""><img src="/public/assets/images/twitter.png"/></a></li>
          <li><a href=""><img src="/public/assets/images/facebook.png"/></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>