<my-slider></my-slider>
<my-categories></my-categories>
 <div class="wrap">
 <div class="row">

    
     <a routerLink="/filternav" routerLinkActive="active"><div class="prod" *ngFor="let product of products"
        (click)="gotoDetail(product)">
        

   <img [src]="product.brandurl">
   <img [src]="product.imageurl">

              <hr>
              <p> {{product.name}} </p>
             <button href="#" class="btn_price"> {{product.price | currency:'USD':true}} | GET NOW  ></button>


      </div></a>
 </div>
 </div>
    <my-product-detail [product]="selectedProduct"></my-product-detail>
