
<div class="full">
<div id="slider">
  <a href="#" class="control_next"><img src="public/assets/images/right.png"/></a>
  <a href="#" class="control_prev"><img src="public/assets/images/left.png"/></a>
  <ul>
    <li><div class="slider_info">WILL HELM <h1>WINTER</h1><button class="btn_price"> 99.90$ | GET NOW  ></button></div><img src="public/assets/images/shoe.png"/></li>
    <li><div class="slider_info">FAST NER2 <h1>AUTUMN</h1><button class="btn_price"> 99.90$ | GET NOW  ></button></div><img src="public/assets/images/shoe2.png"/></li>
  </ul>  
</div>
</div>
	 